.cardWrapper {
  margin-bottom: 50px;
}

.cardImg {
  height: 150px;
}

.productImg {
  max-height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.popular {
  height: 20px;

  font-size: 10px;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  color: var(--gray-300);

  position: relative;
  top: -145px;
  left: 8px;
  z-index: 100;

  padding: 3px 10px;

  border-radius: 30px;
  background-color: var(--yellow);
}

.cardPricing {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px 0;
}

.cardPricing h2 {
  color: var(--beige);
  font-weight: bold;
}

.cardPricing > p {
  color: var(--gray-300);
  margin: 0;
  padding: 0 8px;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  background-color: var(--green);
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.rating {
  color: var(--beige);
  margin: 0;
  display: flex;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
}

.rating > span {
  color: var(--gray-100);
  margin-left: 3px;
}

.rating > img {
  margin-right: 3px;
}

.soldOut {
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: var(--red);
}